@model IEnumerable<SAC_VALES.Web.Data.Entities.ValeEntity>

@{
    ViewData["Title"] = "Vales";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Vales</h2>

<a asp-action="SelectTalonera">Registrar Vale</a>

<hr />

<table class="table table-hover table-responsive table-striped" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                Folio
            </th>
            <th>
                Email de la Empresa
            </th>
            <th>
                Nombre de la Empresa
            </th>
            <th>
                Email del Cliente
            </th>
            <th>
                Talonera
            </th>
            <th>
                Pago
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFolio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talonera.RangoInicio) - @Html.DisplayFor(modelItem => item.Talonera.RangoFin)
            </td>
            <td>
                @if (item.Pagado == true)
                {
                    <span class="badge badge-primary">Completo</span>
                }
                else
                {
                    <span class="badge">No Completo</span>
                }
            </td>
            <td>
                <a asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-default">Eliminar</a>
            </td>
            <td>
                <a asp-action="VerPagos" asp-route-id="@item.id" class="btn btn-default">Ver Pagos</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>

}
