@model IEnumerable<SAC_VALES.Web.Data.Entities.TaloneraEntity>

@{
    ViewData["Title"] = "Escoger Talonera";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Seleccione una Talonera</h2>
<h5>Escoja una talonera para poder crear un vale que corresponda a dicha elección...</h5>
<hr />

<table class="table table-hover table-responsive table-striped" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RangoInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangoFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.NombreEmpresa)
            </th>
            <th>
                Correo de la empresa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RangoInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangoFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Email)
            </td>
            <td>
                <a asp-action="SelectCliente" asp-route-id="@item.id" class="btn btn-default">Elegir</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("hola");
            $('#MyTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>

}
