@model IEnumerable<SAC_VALES.Web.Data.Entities.PagoEntity>

@{
    ViewData["Title"] = "Pagos";
}

<h2>Pagos del Vale</h2>

<hr />

<table class="table" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLimiteLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaLimite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagado)
                </td>
                <td>
                    @if (item.Pagado == false && User.Identity.IsAuthenticated && User.IsInRole("Distribuidor"))
                    {
                        <a asp-action="MarcarPagado" asp-route-id="@item.id"
                           class="btn btn-default">Marcar Como Pagado</a>
                    }

                    else if(item.Pagado == true && User.Identity.IsAuthenticated && User.IsInRole("Distribuidor"))
                    {
                        <a asp-action="MarcarPagado" asp-route-id="@item.id"
                           class="btn btn-default">Marcar Como No Pagado</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <div>
        @if (ViewBag.Pagado == true)
        {
            <label class="text-success">PAGO DEL VALE COMPLETADO</label>
        }
        else
        {
            <label class="text-muted">PAGO DEL VALE NO COMPLETADO</label>
        }

    </div>
    <div>
        <a asp-action="Index">Regresar a Vales</a>
    </div>
</div>
