@model IEnumerable<SAC_VALES.Web.Data.Entities.PagoEntity>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Dashboard</h1>
</div>

<head>

    <!--JS-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            //1
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Pagados', @ViewBag.valesActivos],
                ['No pagados', @ViewBag.valesFalsos]
            ]);

            // Set chart options
            var options = {
                'title': 'VALES',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            //2
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Dispobibles', 3],
                ['No disponibles', 1],
            ]);

            // Set chart options
            var options = {
                'title': 'TALONERAS',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart.draw(data, options);

            //3
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Pagos', 5],
                ['Pagos', 10]
            ]);

            // Set chart options
            var options = {
                'title': 'PAGOS',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
            chart.draw(data, options);
        }

    </script>

</head>

<body>

    <table class="default">

        <tr>

            <td>
                <div id="chart_div"></div>
                @ViewBag.texto1
                @ViewBag.texto2
                <br />
                Vales Pagados: @ViewBag.valesActivos
                <br />
                Vales No Pagados: @ViewBag.valesFalsos
            </td>

            <td> 
            <!--<div id="chart_div2"></div>-->
            </td>

            <td>
                <!--<div id="chart_div3"></div>-->
            </td>

        </tr>

        <tr>

            <td></td>

            <td></td>

            <td></td>

        </tr>

    </table>

</body> 
