@model SAC_VALES.Web.Data.Entities.TaloneraEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la Talonera</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.RangoInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RangoInicio)
        </dd>
        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.RangoFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RangoFin)
        </dd>
        <dt style="text-align: left">
            Email de la empresa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa.Email)
        </dd>
        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Empresa.NombreEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa.NombreEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ValesTalonera" asp-route-id="@Model.id" class="btn btn-primary">
        Ver vales de esta talonera
    </a>
    <a asp-action="Index" style="margin-left:10px" class="btn btn-default">Regresar</a>
</div>
