@model IEnumerable<SAC_VALES.Web.Data.Entities.ClienteDistribuidor>

@{
    ViewData["Title"] = "Index";
}

<h2>Mis Clientes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Apellidos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cliente.id">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>
